asgiref==3.2.10
astroid==2.4.2
autopep8==1.5.4
backcall==0.2.0
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
Django==3.1
djangorestframework==3.12.2
et-xmlfile==1.0.1
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
google==3.0.0
google-search==1.0.2
google-search-results==1.8.3
googletrans==3.0.0
gsearch==1.6.0
h11==0.9.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.10.20
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
joblib==0.16.0
jupyter-client==6.1.6
jupyter-core==4.6.3
Keras==2.4.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.5.2
MarkupSafe==1.1.1
matplotlib==3.3.1
mccabe==0.6.1
MouseInfo==0.1.3
neat-python==0.92
numpy==1.19.1
openpyexcel==2.5.14
pandas==1.1.0
parso==0.7.1
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.6
PyAutoGUI==0.9.50
pycodestyle==2.6.0
pygame==1.9.6
PyGetWindow==0.0.8
Pygments==2.6.1
pylint==2.5.3
PyMsgBox==1.0.8
pynput==1.7.2
pyparsing==2.4.7
pyperclip==1.8.0
PyQt5==5.13.2
PyQt5-sip==12.8.0
pyqt5-tools==5.13.2.1.6rc1
PyRect==0.1.4
PyScreeze==0.1.26
python-dateutil==2.8.1
python-dotenv==0.13.0
PyTweening==1.0.3
pytz==2020.1
pywin32==228
PyYAML==5.3.1
pyzmq==19.0.2
requests==2.24.0
rfc3986==1.4.0
scikit-learn==0.23.2
scipy==1.5.2
selenium==3.141.0
six==1.15.0
sklearn==0.0
sniffio==1.2.0
soupsieve==2.0.1
SQLAlchemy==1.3.19
sqlparse==0.3.1
threadpoolctl==2.1.0
toml==0.10.1
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.10
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
